/**
 * @file secrets.h
 * @brief Constants for WiFi credentials and API endpoints.
 * 
 * Instructions:
 * 1. Copy this file to 'secrets.h' in the same directory.
 * 2. Replace the placeholder values with your actual WiFi credentials and API server details.
 * 
 * Example:
 * cp secrets.h.example secrets.h
 * 
 */

#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID "your_wifi_ssid"
#define WIFI_PASSWORD "your_wifi_password"
#define SERVER_HOSTNAME "your_raspberry_pi_ip"  
#define SERVER_PORT your_port

#endif // SECRETS_H